<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>
      Transgourmet Landingpage
    </title>
    <meta charset="utf-8" />
     <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta http-equiv="Content-Security-Policy" content=" media-src 'self' data: blob: *;">
      <!-- Tealium utag Script Start -->
    

    <link rel="stylesheet" href="{{ bsi_cx_css_href() }}" />
     <link  rel="icon" href="/favicon.ico" type="image/x-icon"
            href="{{ bsi_cx_asset(
                '../resources/img/favicon-TG.ico'
            )
            }}" />
          <link rel="apple-touch-icon"
            sizes="57x57"
              type="image/png"
            href="{{
            bsi_cx_asset(
                '../resources/img/favicon-TG.png'
            )
            }}" />
        <link rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{
            bsi_cx_asset(
                '../resources/img/favicon-TG.png'
            )
            }}" />
         <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{
            bsi_cx_asset(
               '../resources/img/favicon-TG.png'
            )
            }}" />
             <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{
            bsi_cx_asset(
               '../resources/img/favicon-TG.png'
            )
            }}" />
               <link rel="icon"
            type="image/png"
            sizes="512x512"
            href="{{
            bsi_cx_asset(
               '../resources/img/favicon-TG.png'
            )
            }}" /> 
  </head>
  <body class="no-js">
 
     <!-- Google Tag Manager (noscript) -->
        {# <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJFZV37"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe>
        </noscript> #}
        <!-- End Google Tag Manager (noscript) -->
    <div class="main">
      <!-- header | baloise ch | image -->
      <header class="header"
        data-bsi-dropzone="header"
        data-bsi-dropzone-allowed-elements="header top-header-co-branding-blue">
        {% block header %}

        {% endblock %}
      </header>

      <div class="is-body">
        <div class="u-grid">
          <div class="u-grid-row">
            <div class="u-grid-col is-col-s-12 is-col-m-offset-6 is-col-m-6 is-col-l-offset-6 is-col-l-6 is-col-xl-offset-6 is-col-xl-6">
              <div class="b-header-interferer is-links is-no-widget">
                <div class="header-interferer__link-wrapper"
                  data-bsi-dropzone="button-area"
                  data-bsi-dropzone-allowed-elements="cta-primary cta-new cta-secondary cta-tertiary cta"
                  data-bsi-dropzone-max-number-of-elements="1">
                  {% block buttonArea %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <main class="is-body">
        <section class="c-content--default">
          <div data-bsi-dropzone="content"
            data-bsi-dropzone-allowed-elements="video-player-element spacer accordion accordion-item single-column-elements-centered single-column-elements-centered-slim content-full-width image-teaser-group image-teaser-group-test group-three-media text-bild-right text-bild-left title-h2-large title-h3-large title-h4-large title-h5-large title-h2 title-h3 title-h4 title-h5 text single-column-form two-column-form widget-html">
            {% block content %}

            {% endblock %}
          </div>
        </section>
      </main>

      <footer class="footer">
        <div class="footer__metalist"
          data-bsi-dropzone="footer"
          data-bsi-dropzone-allowed-elements="footer footer-unternehmenskunden"
          data-bsi-dropzone-max-number-of-elements="1">
          {% block footer %}

          {% endblock %}
        </div>
      </footer>
    </div>
     <script src="{{ bsi_cx_js_module_runtime_href() }}" data-bsi-remove-if="draft" defer="defer"></script> 
    <script src="{{ bsi_cx_js_module_href('main') }}" data-bsi-remove-if="draft" defer="defer"></script> 
    {{ bsi_cx_js_module_missing_chunks_import() }} 
  </body>
</html>
