<!DOCTYPE html>
<html>
	<head>
		<title>Master-Template - Landingpage</title>
		 <meta charset="utf-8" />
     <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta http-equiv="Content-Security-Policy" content=" media-src 'self' data: blob: *;">
    <link rel="stylesheet" href="{{ bsi_cx_css_href() }}" />
	<link rel="stylesheet" href="https://libs.coop.ch/swc/themes/coop.css">
 <script type="module" src="https://libs.coop.ch/swc/prod/swc.esm.js"></script>
 <script nomodule src="https://libs.coop.ch/swc/prod/swc.js"></script>

     <link  rel="icon" href="/favicon.ico" type="image/x-icon"
            href={{ bsi_cx_asset(
                './resources/img/favicon-TG.ico'
            )
            }} />
          <link rel="apple-touch-icon"
            sizes="57x57"
              type="image/png"
            href={{
            bsi_cx_asset(
                './resources/img/favicon-TG.png'
            )
            }} />
        <link rel="icon"
            type="image/png"
            sizes="192x192"
            href={{
            bsi_cx_asset(
                './resources/img/favicon-TG.png'
            )
            }} />
         <link rel="icon"
            type="image/png"
            sizes="16x16"
            href={{
            bsi_cx_asset(
               './resources/img/favicon-TG.png'
            )
            }} />
             <link rel="icon"
            type="image/png"
            sizes="16x16"
            href={{
            bsi_cx_asset(
               './resources/img/favicon-TG.png'
            )
            }} />
               <link rel="icon"
            type="image/png"
            sizes="512x512"
            href={{
            bsi_cx_asset(
               './resources/img/favicon-TG.png'
            )
            }} /> 


<!-- Tealium utag Script End -->
	</head>
	<body class="base-text-color no-js">
		<div class="main">
			<header class="header">
				<div class="header-top">
					<div class="row">
						<div class="flex" data-bsi-dropzone="header" data-bsi-dropzone-max-number-of-elements="3" data-bsi-dropzone-allowed-elements="logo navigation trenner">
							<div class="element logo" data-bsi-element="logo">
								<div class="logo-main-wrapper">
									<img data-bsi-element-part="image" alt="" src="./img/logo.png"/>
								</div>
							</div>
							{% include 'content-elements/landingpage-header/navigation/template.twig' %}
							{% include 'content-elements/texts-images/trenner/template.twig' %}
						</div>
					</div>
				</div>
				<div data-bsi-dropzone="prescene" data-bsi-dropzone-allowed-elements="content-column-slim video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth spalten-2 spalten-3 spalten-4 news-snippets abstand google-maps"></div>
				<div class="header-image" data-bsi-dropzone="scene" data-bsi-dropzone-max-number-of-elements="1" data-bsi-dropzone-allowed-elements="bild-ganze-breite-responsive bild-fixe-breite-responsive"></div>
			</header>
			<div data-bsi-dropzone="farbleiste" data-bsi-dropzone-max-number-of-elements="1" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite farbleiste-ganze-breite"></div>
			<section class="wrapper main clearfix">
				<div data-bsi-dropzone="content" data-bsi-dropzone-allowed-elements="hash-id login-status page-category-01 page-category-02 page-category-03 page-category-04 registration cookie-banner farbleiste-fixe-breite content-column-slim video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links webcam-image-upload qr-code button button-fullwidth spalten-2 spalten-3 spalten-4 single-column-form-slim single-column-form-wide two-column-form two-column-form-complex news-snippets abstand google-maps pie-chart pie-chart-without-table">
				
				</div>
			</section>
			<footer class="footer">
				<div class="footer-bottom">
					<div class="row">
						<div class="flex legal">
							<div data-bsi-dropzone="footer-bottom-one" data-bsi-dropzone-allowed-elements="footer-spalten-1 footer-spalten-2 footer-spalten-3 footer-spalten-4 footer-company footer-social trenner" class="footer-container">
								{% include 'content-elements/footer/footer-spalten-1/template.twig' %}
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	
		</script>
	   <script src="{{ bsi_cx_js_module_runtime_href() }}" data-bsi-remove-if="draft" defer="defer"></script> 
    <script src="{{ bsi_cx_js_module_href('main') }}" data-bsi-remove-if="draft" defer="defer"></script> 
    {{ bsi_cx_js_module_missing_chunks_import() }} 
				 <script>
		
			 document.addEventListener("DOMContentLoaded", function() {
const categoryOne = document.querySelector(".page-category-01");
const categoryOneContent = categoryOne.innerHTML;
const categoryTwo = document.querySelector(".page-category-02");
const categoryTwoContent = categoryTwo.innerHTML;
const categoryThree = document.querySelector(".page-category-03");
const categoryThreeContent = categoryThree.innerHTML;
const categoryFour = document.querySelector(".page-category-04");
const categoryFourContent = categoryFour.innerHTML;
const registration = document.querySelector(".registration");
const registrationContent = registration.innerHTML;
const loginStatus = document.querySelector(".login-status");
const loginStatusContent = loginStatus.innerHTML;
const hashID = document.querySelector(".hash-id");
const hashIDContent = hashID.innerHTML;

const url = window.location.href;
const lang = document.documentElement.lang
const title = document.documentElement.title

let modifiedURL = "";

for (let i = 0; i < url.length; i++) {
  if (url[i] === "/") {
    modifiedURL += "/\\";
  } else {
    modifiedURL += url[i];
  }
}

var utag_data = {
 "platform":"tgch-transgourmet",
 "event_attributes_eventName": registrationContent,
 "page_attributes_URL": modifiedURL,
 "page_pageInfo_language": lang,
 "page_pageInfo_pageName": title,
 "page_category_01": categoryOneContent,
 "page_category_02": categoryTwoContent,
 "page_category_03": categoryThreeContent,
 "page_category_04": categoryFourContent,
 "user_profile_profileInfo_profileID": loginStatusContent,
 "user_profile_profileInfo_loginStatus": hashIDContent,
 "user_profile_profileInfo_language":""
};
utag.view({utag_data}); 
});
  
</script>

<script>
window.utag_cfg_ovrd = window.utag_cfg_ovrd || {};
window.utag_cfg_ovrd.noview = true;

	(function(a,b,c,d){
	a='//tags.tiqcdn.com/utag/coop-ch/tgch-transgourmet/qa/utag.js;
	b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
	a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
	})();
</script>
	</body>
</html>
